<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tal.wangxiao.conan.common.mapper.DomainMapper">

    <resultMap type="Domain" id="DomainResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="online"    column="online"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="isAuth"    column="is_auth"    />
        <result property="sysDeptId"    column="sys_dept_id"    />
        <result property="esSourceId"    column="es_source_id"    />
    </resultMap>

    <sql id="selectDomainVo">
        select id, name, online, create_time, create_by, update_time, update_by, is_auth, sys_dept_id from bss_domain
    </sql>

    <select id="selectDomainList" parameterType="Domain" resultMap="DomainResult">
        SELECT dom.* ,d.dept_name as dept_name, u.user_name as create_by_name
        from bss_domain dom
        LEFT  JOIN sys_dept d on dom.sys_dept_id = d.dept_id
        LEFT  JOIN sys_user u on dom.create_by = u.user_id
        where 1=1
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="online != null "> and online = #{online}</if>
            <if test="isAuth != null "> and is_auth = #{isAuth}</if>
            <if test="sysDeptId != null "> and sys_dept_id = #{sysDeptId}</if>
            <if test="esSourceId != null "> and es_source_id = #{esSourceId}</if>
        <!-- 数据范围过滤 -->
        ${params.dataScope}
    </select>

    <select id="selectDomainById" parameterType="Long" resultMap="DomainResult">
        <include refid="selectDomainVo"/>
        where id = #{id}
    </select>

    <insert id="insertDomain" parameterType="Domain" useGeneratedKeys="true" keyProperty="id">
        insert into bss_domain
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">name,</if>
            <if test="online != null">online,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="isAuth != null">is_auth,</if>
            <if test="sysDeptId != null">sys_dept_id,</if>
            <if test="esSourceId != null">es_source_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">#{name},</if>
            <if test="online != null">#{online},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="isAuth != null">#{isAuth},</if>
            <if test="sysDeptId != null">#{sysDeptId},</if>
            <if test="esSourceId != null">#{esSourceId},</if>
        </trim>
    </insert>

    <update id="updateDomain" parameterType="Domain">
        update bss_domain
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="online != null">online = #{online},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="isAuth != null">is_auth = #{isAuth},</if>
            <if test="sysDeptId != null">sys_dept_id = #{sysDeptId},</if>
            <if test="esSourceId != null">es_source_id = #{esSourceId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteDomainById" parameterType="Long">
        delete from bss_domain where id = #{id}
    </delete>

    <delete id="deleteDomainByIds" parameterType="String">
        delete from bss_domain where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>